html,body{
    height:100%;
}

.top-background {
    background-color: #E6E6E6;
}

.btn-long {
    border-radius: 15px;
    width: 50%;
}


.theme-font {
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    #framed-photo {
        overflow: hidden;
        max-height: 200px;
        width: auto;
        border-radius: 50%
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    #framed-photo {
        overflow: hidden;
        max-height: 150px;
        width: auto;
        border-radius: 50%
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    #framed-photo {
        overflow: hidden;
        max-height: 100px;
        width: auto;
        border-radius: 50%
    }
}
