.nav-theme {
    font-weight: 400 !important;
    font-size: 1.25em !important;
}

.nav-theme:hover {
    color: gray !important;
}

a[class='nav-theme'] {
    color: #212529 !important;
    text-decoration: none;
}